gensim>=4.0.0
nltk>=3.5
datasets==2.14.1
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
statsmodels
plotly
yfinance
youtube-dl
ffmpeg-python
tensorflow
torch
xgboost
jupyter
ipython
notebook
biopython==1.81
requests==2.28.1  
transformers>=4.33.0    # Hugging Face Transformers Library
torch>=2.0.0            # PyTorch for using Transformers with PyTorch backend
tf-keras>=0.1.0         # Older version of Keras for TensorFlow compatibility (optional)
streamlit>=1.24.0       # If you're using Streamlit for the web interface (optional)
